.fontSize_12 {
  font-size: 12px; }

.fontSize_13 {
  font-size: 13px; }

.fontSize_14 {
  font-size: 14px; }

.fontSize_15 {
  font-size: 15px; }

.fontSize_16 {
  font-size: 16px; }

.fontSize_17 {
  font-size: 17px; }

.fontSize_18 {
  font-size: 18px; }

.fontSize_19 {
  font-size: 19px; }

.fontSize_20 {
  font-size: 20px; }

.fontSize_21 {
  font-size: 21px; }

.fontSize_22 {
  font-size: 22px; }

.fontSize_23 {
  font-size: 23px; }

.fontSize_24 {
  font-size: 24px; }

.fontSize_25 {
  font-size: 25px; }

.fontSize_26 {
  font-size: 26px; }

.fontSize_27 {
  font-size: 27px; }

.fontSize_28 {
  font-size: 28px; }

.fontSize_29 {
  font-size: 29px; }

.fontSize_30 {
  font-size: 30px; }

.fontSize_31 {
  font-size: 31px; }

.fontSize_32 {
  font-size: 32px; }

.fontSize_33 {
  font-size: 33px; }

.fontSize_34 {
  font-size: 34px; }

.fontSize_35 {
  font-size: 35px; }

.fontSize_36 {
  font-size: 36px; }

.fontSize_37 {
  font-size: 37px; }

.fontSize_38 {
  font-size: 38px; }

.fontSize_39 {
  font-size: 39px; }

.fontSize_40 {
  font-size: 40px; }

.fontSize_41 {
  font-size: 41px; }

.fontSize_42 {
  font-size: 42px; }

.fontSize_43 {
  font-size: 43px; }

.fontSize_44 {
  font-size: 44px; }

.fontSize_45 {
  font-size: 45px; }

.fontSize_46 {
  font-size: 46px; }

.fontSize_47 {
  font-size: 47px; }

.fontSize_48 {
  font-size: 48px; }

.fontSize_49 {
  font-size: 49px; }

.fontSize_50 {
  font-size: 50px; }

.fontSize_51 {
  font-size: 51px; }

.fontSize_52 {
  font-size: 52px; }

.fontSize_53 {
  font-size: 53px; }

.fontSize_54 {
  font-size: 54px; }

.fontSize_55 {
  font-size: 55px; }

.fontSize_56 {
  font-size: 56px; }

.fontSize_57 {
  font-size: 57px; }

.fontSize_58 {
  font-size: 58px; }

.fontSize_59 {
  font-size: 59px; }

.fontSize_60 {
  font-size: 60px; }

.fontSize_61 {
  font-size: 61px; }

.fontSize_62 {
  font-size: 62px; }

.fontSize_63 {
  font-size: 63px; }

.fontSize_64 {
  font-size: 64px; }

.fontSize_65 {
  font-size: 65px; }

.fontSize_66 {
  font-size: 66px; }

.fontSize_67 {
  font-size: 67px; }

.fontSize_68 {
  font-size: 68px; }

.fontSize_69 {
  font-size: 69px; }

.fontSize_70 {
  font-size: 70px; }

.fontSize_71 {
  font-size: 71px; }

.fontSize_72 {
  font-size: 72px; }

.fontSize_73 {
  font-size: 73px; }

.fontSize_74 {
  font-size: 74px; }

.fontSize_75 {
  font-size: 75px; }

.fontSize_76 {
  font-size: 76px; }

.fontSize_77 {
  font-size: 77px; }

.fontSize_78 {
  font-size: 78px; }

.fontSize_79 {
  font-size: 79px; }

.fontSize_80 {
  font-size: 80px; }

.fontSize_81 {
  font-size: 81px; }

.fontSize_82 {
  font-size: 82px; }

.fontSize_83 {
  font-size: 83px; }

.fontSize_84 {
  font-size: 84px; }

.fontSize_85 {
  font-size: 85px; }
