$unfilledDonut: #082e4e;
$filledDonutBlue: #4f7fde;
$filledDonutLiteBlue: #4fa6de;
$filledDonutOrange: #ffad1a;
$white: #fff;
$fontBlue: #4f7ed3;
$fontBlue2: #295abb;
$btnDanger: #ffad1a;
$btnDangerHover: #fe9c01;
$btnPrimary: #4f7fde;
$btnPrimaryHover: linear-gradient(to right, #114470, #205c9a);
$black: #000;
$linksHover: #4d82e8;
$liteBlue: #95b8d0;
$sectionBorder: #4f7fde;
$partWord: #8aaae9;
$greyText: #666c72;
$deepBlueText: #072641;
$titleDeepBlue: #0a4372;
$subTitleBlue: #2764fc;
$promoColor: #4f7fde;
$sectionModGrey: #ebeced;
$dateBadge: #165592;
$dateHR: #96b0c8;
$hoverLink: #4390dc;
$footerBG: #0e4675;
$footerP: #6d93dc;
$footerLinks: #a9b8c7;
$promoTitle: #2789e3;
$questionsTitle: #1874c1;
$subscribeCardHeader: #4f7fde;
$subscribeInputBG: #f2f3f4;
